@font-face {
  font-family: "vazir";
  src: url(../assets/fonts/Vazir.woff);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "vazir";
  src: url(../assets/fonts/Vazir-Bold.woff);
  font-style: normal;
  font-weight: bold;
}
